# Dependency directories
node_modules
package-lock.json
# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.swp
*.swo

# Logs
/logs

# Compiled output
*.log
*.zip

#Java Spring Boot

